<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default">
    <test name="Testing1">
        <classes>
            <class name="tests.test_TC01_UserRegistration">
                <methods>
                    <exclude name="userRegistration"/>
                </methods>
            </class>
            <class name="tests.test_TC02_UserLogin">
                <methods>
                    <include name="userLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
