<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default">
    <test name="Testing1">
        <classes>
            <class name="tests.UserRegistration"/>
            <class name="tests.UserLoginTests"/>
            <class name="tests.ForgotPasswordTests"/>
        </classes>
    </test>
</suite>
