<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default">
    <test name="Testing1">
        <classes>
            <class name="tests.UserRegistrationTests">
                <methods>
                    <include name="userRegistration"/>
                </methods>
            </class>
            <class name="tests.UserLoginTests">
                <methods>
                    <exclude name="userLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
